{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">Current Message Classification</h1>
        <ol class="list-group">
            {% set count = namespace(value=0) %}
            {% for category, classification in classification_result.items() %}
                {% if classification == 1 %}
                    <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                    {% set count.value = count.value + 1 %}
                {% endif %}
            {% endfor %}
        </ol>
        {% if count.value < 1 %}
            The message could not be classified into any category
        {% endif %}

        <h1 class="text-center">Other Available Classifications</h1>
        <ol class="list-group">
            {% set count = namespace(value=0) %}
            {% for category, classification in classification_result.items() %}
                {% if classification == 0 %}
                    <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                    {% set count.value = count.value + 1 %}
                {% endif %}
            {% endfor %}
        </ol>
        {% if count.value < 1 %}
            The message has been classified into all possible categories and there's none available
        {% endif %}
        </div>
    </div>

{% endblock %}
